[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
statsmodels = {path = "./statsmodels-0.10.2-cp37-cp37m-win_amd64.whl"}
matplotlib = "*"
sklearn = "*"
openpyxl = "*"
cx-freeze = "*"

[dev-packages]

[requires]
python_version = "3.7"
